:root {
	--command-name: #8c6b59;
	--preloaded-text: #519975;
	--background-color: #211d1b;
	--err-color: #9c8394;
	--typer-color: #73abad;
	--cursor-color	: #73abad;
	--prompt-color: #519975;
	--terminalFont: monospace;
	--link: #ce97bd;
	--link-hover: #b796d6;
	--command-description: #fff;
	--accent-color: #ffffffbb;
	--copyright-text: rgb(180, 180, 129);
	--autocomplete: #85c4c680;
}

::-webkit-scrollbar {
	background-color: var(--background-color);
	width: 5px;
}

::-webkit-scrollbar-thumb {
	background-color: var(--prompt);
}

::selection {
	color: #211830;
	background-color: #519975;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

p {
	margin: 0;
	color: var(--preloaded-text);
}

pre.animated p {
	padding: 0;
	margin: 0;
	color: var(--accent-color);
}

body {
	display: flex;
	flex-direction: column;
	margin: 0px;
	padding: 15px 20px;
	background-color: var(--background-color);
	font-family: var(--terminalFont);
	align-content: space-around;
}

/* TERMINAL */

#terminal {
	max-width: 1200px; /* Maximum width to ensure it doesn't get too wide on large screens */
	width: 95%;
	overflow-y: scroll;
	box-sizing: border-box; /* Includes padding and borders in the element's width and height */
}

#texter {
	position: absolute;
	left: -1000px;
	opacity: 0;
}

/* User Input */

.command {
	display: flex;
	color: red;
	cursor: text;
	flex-wrap: wrap; /* Allow wrapping on smaller screens */
	box-sizing: border-box;
	width: 100%; /* Make sure it uses the full width */
}

.social-link {
	color: var(--link);
	text-decoration: none;
}

.social-link:hover {
	background-color: var(--link-hover);
	color: black;
}

/* Help menu commands */
span.command-name {
	text-transform: uppercase;
	margin: 3px 0px 0px 0px;
	text-shadow: 0 0 5px var(--command-name);
	color: var(--command-name);
	margin-right: 50px;
	min-width: 50px;
}

span.command-description {
	color: var(--command-description);
}

.help-entry {
	display: flex;
	gap: 5px 20px 5px 10px;
	align-items: flex-start;
	margin: 5px 0;
}



/* Input */

#typer {
	display: inline-block;
	white-space: pre; /* Preserves both spaces and line breaks */
	color: var(--typer-color);
	margin-bottom: 30px;
}

.preloaded-msg {
	color: var(--preloaded-text);
}
/* 
#terminal p.preloaded-msg {
	color: var(--prompt);
}	 */

.command #typer::before,
p.preloaded-msg::before {
	content: "visitor@theyosefegy.com:~$ ";
	color: var(--prompt);
}

p.error {
	color: var(--err-color);
}

@keyframes blink {
	50% {
		opacity: 50%;
	}
}

.suggestion {
	display: inline-block;
	color: var(--autocomplete);
	white-space: pre-line; /* Preserves both spaces and line breaks */
}

.copyright {
	color: var(--copyright-text);
}

/* Cursor */

.cursor {
	display: inline-block;
	background-color: var(--cursor-color);
	font-size: 10px;
	color: transparent;
	position: relative;
	opacity: 1;
	top: -3px;
	height: 1.2em;
	width: 5px;
	max-width: 10px;
	transform: translateY(4px);
	overflow: hidden;
	text-indent: -5px;
	animation: blink 1s infinite;
}

/* Responsive Media */
@media (max-width: 1024px) {
	.command,
	#terminal {
		font-size: 16px;
		width: 100%;
		padding-left: 10px;
		padding-right: 10px;
	}
}

@media (max-width: 768px) {
	.command,
	#terminal {
		font-size: 14px;
		padding-left: 5px;
		padding-right: 5px;
	}

	.repo-name,
	.repo-description,
	.repo-footer {
		font-size: 13px;
	}
}

@media (max-width: 480px) {
	.command,
	#terminal {
		font-size: 12px;
		padding-left: 2px;
		padding-right: 2px;
	}
	.cursor {
		width: 8px;
		height: 1.2em;
	}

	.repo-name,
	.repo-description,
	.repo-footer {
		font-size: 13px;
	}
}
